/* Reset default styles */
body {
    margin: 0;
    padding: 0;
}

.features {
    text-align: center;
}

.features p {
    text-align: center;
}

/* Add media query for mobile devices */
@media (max-width: 600px) {
    body {
        overflow-x: hidden; /* Yatay kaydırmayı engelle */
    }

    .features {
        margin: 20px auto;
        height: auto;
        overflow-y: scroll; /* Dikey kaydırmayı aktif et */
        max-height: calc(100vh - 100px); /* Ekran yüksekliğine göre maksimum yükseklik belirle */
    }

    .features h1 {
        font-size: 20px;
    }

    .features li {
        padding: 8px;
    }
}
