
@import url('https://fonts.googleapis.com/css?family=Barlow');

/* Navigasyon Çubuğu */
.navigation-bar {
    width: 100%;
    height: auto;
    padding: 10px 20px; /* Daha az yatay padding */
    background-color: #232323;
    color: white;
}

.navigation-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.navigation-bar li {
    margin: auto 15px; /* Mobil için kenar boşluğunu azaltın */
}

.navigation-bar h1 {
    display: inline-flex;
    color: white;
    position: relative;
    transform: translate(0%, -25%);
    font-family: "Barlow";
}

.navigation-bar img {
    height: 40px; /* Daha küçük görüntü boyutları */
    width: 40px;
    margin-right: 10px;
    display: inline-flex;
}

.navigation-bar a {
    text-decoration: none;
    transition: .2s;
    color: white;
    font-family: "Barlow";
}

.navigation-bar a:hover {
    letter-spacing: 1px;
    transition: .2s;
}

.navigation-bar i {
    margin-right: 5px;
}

.center-container {
    width: 100%;
    background-color: white;
    height: auto;
}

.center-container h1 {
    margin: 30px auto; /* Mobil için kenar boşluğunu artırın */
    text-align: center;
    color: #303030;
    font-family: "Barlow";
}

.center-container p {
    margin: 0 auto; /* Mobil için negatif kenar boşluğunu kaldırın */
    font-size: 20px;
    text-align: center;
    color: #303030;
    font-family: "Barlow";
}

.center-container ul {
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin: 30px auto; /* Mobil için kenar boşluğunu artırın */
}

.center-container li {
    transition: .2s;
    margin: auto 15px; /* Mobil için kenar boşluğunu azaltın */
}

.center-container a {
    text-decoration: none;
    transition: .2s;
    color: #232323;
    font-family: "Barlow";
}

.center-container a:hover {
    color: #3f5ad1;
    transition: .2s;
}

.center-container i {
    margin: -3px auto;
    margin-right: 5px;
}

/* Mobil için özel stiller */
@media only screen and (max-width: 768px) {
    .navigation-bar ul {
        flex-direction: column;
    }

    .navigation-bar li {
        margin: 10px 0;
    }

    .center-container h1 {
        margin: 20px auto; /* Mobil için kenar boşluğunu artırın */
        font-size: 24px; /* Mobil için yazı tipi boyutunu ayarlayın */
    }

    .center-container p {
        font-size: 16px; /* Mobil için yazı tipi boyutunu ayarlayın */
    }

    .center-container ul {
        margin: 20px auto; /* Mobil için kenar boşluğunu artırın */
    }

    .center-container li {
        margin: 10px 0;
    }
}
